.bgImage {
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/3/60/bitcoin-btc-coin-blue-fon-sinii-molniia-bitkoin.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
