.bgImage {
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/3/60/bitcoin-btc-coin-blue-fon-sinii-molniia-bitkoin.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 200px;
  padding-top: 70px;
}
